<!DOCTYPE html>
<html>
<head>
    <title>Smart Home Dashboard</title>
    <script src="https://kit.fontawesome.com/326c45e84f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}
    
</body>
</html>
